@{
    Layout = "";
}
@model Services.ViewModels.NewStateData

<div id="status-tabContent" style="box-shadow: 1px 1px 5px; padding-bottom:15px">
    <div class="table-responsive text-white mt-3">
        <table class="table d-none d-md-table" id="maintable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"> </th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody style="--bs-table-color: white;" id="myTable">
                @if (Model.req!.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center text-secondary">No Data Found</td>
                    </tr>
                }
                @foreach (var obj in Model.req!)
                {
                    var reqclient = obj.Requestclients.ElementAt(0);
                    var color = "mediumpurple";
                    var type = "";
                    @if (obj.Requesttypeid == 1)
                    {
                        color = "rgb(72 169 70)";
                        type = "Patient";
                    }
                    else if (obj.Requesttypeid == 2)
                    {
                        color = "#f5a33e";
                        type = "Family";
                    }
                    else if (obj.Requesttypeid == 4)
                    {
                        color = "hotpink";
                        type = "Business";
                    }
                    else if (obj.Requesttypeid == 3)
                    {
                        color = "dodgerblue";
                        type = "Concierge";
                    }
                    <tr style="--bs-table-bg:@color " class="@type">
                        <td scope="row">@reqclient.Firstname , @reqclient.Lastname</td>
                        <td scope="row">
                            <a href="mailto:@reqclient.Email" type="button" class="btn btn-outline-light"><i class="fa-regular fa-envelope"></i></a>
                        </td>
                        <td>
                            <div class="phone p-1">
                                <a class="text-decoration-none text-white" href="tel:@obj.Phonenumber">@obj.Phonenumber</a>
                            </div>
                            (Patient)
                            @if (type != "Patient")
                            {
                                <div class="phone p-1">
                                    <a href="tel:@reqclient.Phonenumber" class="text-decoration-none text-white">@reqclient.Phonenumber</a>
                                </div>
                                <span>(@type)</span>
                            }
                        </td>
                        <td>@reqclient.Address</td>
                        <td>
                            <div class="dropdown ms-2">
                                <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a value="@obj.Requestid" class="dropdown-item acceptbtn"><i class="fa-solid fa-square-check me-2"></i>Accept</a></li>
                                    <li style="cursor : pointer"><a class="dropdown-item viewcase" id="@obj.Requestid"><i class="bi bi-view-list me-2"></i>View case</a></li>
                                    <li>
                                        <a class="dropdown-item viewnotes" name="@obj.Requestid">
                                            <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="accordion accordion-flush d-md-none d-block" id="accordionFlushExample">

            <div class="accordion-item">
                @foreach (var item in Model.req!)
                {
                    var reqclient = item.Requestclients.ElementAt(0);
                    var color = "mediumpurple";
                    var type = "";
                    @if (item.Requesttypeid == 1)
                    {
                        color = "rgb(117,201,115)";
                        type = "Patient";
                    }
                    else if (item.Requesttypeid == 2)
                    {
                        color = "rgb(219,161,36)";
                        type = "Family";
                    }
                    else if (item.Requesttypeid == 3)
                    {
                        color = "rgb(230, 0 , 115)";
                        type = "Concierge";
                    }
                    else if (item.Requesttypeid == 4)
                    {
                        color = "rgb(0,172,230)";
                        type = "Business";
                    }
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-@item.Requestid" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#e7f1ff; color:black">

                            <div class="col d-flex flex-column">
                                <span class="">@reqclient.Firstname, @reqclient.Lastname</span>
                                <span class=" mt-4">@reqclient.Street @reqclient.City @reqclient.State</span>
                            </div>

                            <div class="col d-flex flex-column text-end mt-2 p-0">
                                <div>
                                    <div>
                                        <span>@type</span>
                                        <i class="bi bi-circle-fill" style="color :@color"></i>
                                    </div>
                                    <div class=" btn rounded-pill text-info border-info float-end p-1 my-3" style="width:150px">
                                        Map Location
                                    </div>

                                </div>

                            </div>
                        </button>
                        <hr class="m-0">
                    </h2>

                    <div id="flush-collapseone-@item.Requestid" class="accordion-collapse collapse p-2" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black; border-bottom : 2px solid black;">
                        <div class="d-flex justify-content-end">
                            <div class="rounded-pill me-3 viewCaseBtn p-2 bg-white viewcase" id="@item.Requestid" style="cursor : pointer">
                                View Case
                            </div>
                        </div>

                        <div class="accordion-body d-flex flex-column gap-1 p-0">
                            <div><i class="bi bi-calendar2-minus me-2 icn"></i>Date of birth: @reqclient.Strmonth @reqclient.Intdate, @reqclient.Intyear</div>
                            <div><i class="bi bi-envelope me-2 icn"></i>Email: @reqclient.Email</div>
                            <div><i class="bi bi-telephone me-2 icn"></i>Patient: @reqclient.Phonenumber</div>
                        </div>

                        <div class="row my-2 mx-0">
                            <div class="col-6 p-2">
                                <a value="@item.Requestid" class="btn w-100 text-white rounded-pill p-1 btn-sm acceptbtn" style="background:#c40eff;">Accept</a>
                            </div>

                            <div class="col-6 p-2">
                                <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm viewnotes" name="@item.Requestid">View Notes</a>
                            </div>

                            <div class="col-6 p-2">
                                <a href="mailto:@reqclient.Email" class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">Email</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-3">
        @if (Model.totalpages > 0)
        {
            var previous = Model.currentpage - 1;
            var next = Model.currentpage + 1;
            if (previous <= 0)
            {
                previous = 1;
            }
            if (next > Model.totalpages)
            {
                next = Model.totalpages;
            }
            <button class="@previous pagebtn" onclick="ChangePagePhy(@previous ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')" style="width:75px">
                Previous
            </button>
            @if (Model.totalpages > 5)
            {
                @if (Model.currentpage > Model.totalpages - 3)
                {
                    <button class="1 pagebtn" id="page-1" onclick="ChangePagePhy(1 ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                        1
                    </button>
                    <button class="0 pagebtn" id="page-0">
                        ...
                    </button>
                    @for (var i = Model.totalpages - 3; i <= Model.totalpages; i++)
                    {
                        <button class="@i pagebtn" id="page-@i" onclick="ChangePagePhy(@i ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                            @i
                        </button>
                    }
                }
                else if (Model.currentpage < Model.totalpages - 2 && Model.currentpage > 3)
                {
                    <button class="1" pagebtn id="page-1" onclick="ChangePagePhy(1 ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                        1
                    </button>
                    <button class="0 pagebtn" id="page-0">
                        ...
                    </button>
                    @for (var i = Model.currentpage - 1; i <= Model.currentpage + 1; i++)
                    {
                        <button class="@i pagebtn" id="page-@i" onclick="ChangePagePhy(@i ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                            @i
                        </button>
                    }
                    <button class="0" id="page-0">
                        ...
                    </button>
                    <button class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangePagePhy(@Model.totalpages ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                        @Model.totalpages
                    </button>
                }
                else
                {
                    @for (var i = 1; i <= 4; i++)
                    {
                        <button class="@i pagebtn" id="page-@i" onclick="ChangePagePhy(@i ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                            @i
                        </button>
                    }
                    <button class="0" id="page-0">
                        ...
                    </button>
                    <button class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangePagePhy(@Model.totalpages ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                        @Model.totalpages
                    </button>
                }
            }
            else
            {
                @for (int page = 0; page < Model.totalpages; page++)
                {
                    var temp = page + 1;

                    <button class="@temp pagebtn" id="page-@temp" onclick="ChangePagePhy(@temp ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')">
                        @temp
                    </button>
                }
            }
            <button class="@next pagebtn" onclick="ChangePagePhy(@next ,1, '@Model.reqtype' , @Model.region,'@Model.searchkey')" style="width:75px">
                Next
            </button>
        }
    </div>

</div>


<script>
    var page = document.getElementById("page-@Model.currentpage");
    if (page != null) {
        page.style.backgroundColor = "lightblue";
    }
    $(document).ready(function () {
        $('.viewcase').on('click', function (e) {
            localStorage.setItem('state', 'new');
            e.preventDefault();
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var id = $(this).attr('id');
            console.log($('#ViewcaseRemove').attr('id'));
            $('#ViewcaseRemove').removeClass("d-flex").addClass("d-none");
            //$('#myTab').remove();

            $.ajax({
                url: '/Admin/ViewCase',
                data: { "id": id },
                success: function (response) {
                    $('#alldata').html(response);
                    console.log("Fetch success");
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.viewnotes').on('click', function (e) {
            e.preventDefault();
            localStorage.setItem('state', 'new');
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var reqid = $(this).attr('name');
            //console.log(reqid);
            console.log($('#ViewcaseRemove').attr('id'));
            $('#ViewcaseRemove').removeClass("d-flex").addClass("d-none");
            //$('#myTab').remove();

            $.ajax({
                url: '/Admin/ViewNotes',
                data: { "reqid": reqid },
                success: function (response) {
                    $('#alldata').html(response);
                    console.log("Fetch success");
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.physiciandata').on('change', function (e) {
            var regionid = $(this).val();
            console.log(regionid);

            $.ajax({
                url: '/admin/filterregion',
                data: { "regionid": regionid },
                success: function (response) {
                    //console.log(response);
                    var physelect = $('#physelect');
                    //console.log(physelect);
                    physelect.empty();
                    physelect.append($('<option>', {
                        value: "",
                        text: "Select Physician"
                    }))
                    response.forEach(function (item) {
                        //console.log(item);
                        physelect.append(
                            $('<option>', {
                                value: item.physicianid,
                                text: item.firstname
                            }));
                        console.log("fetch success");
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.cancelcase').on('click', function (e) {
            var reqid = $('#reqidCancelModel').text();
            var casetagid = $('.reason').val();
            console.log(casetagid);
            if (casetagid == "") {
                $('.reason').css('border', '1px solid red');
            }
            else {
                var cancelnotes = $('.Cancelnotes').val();
                $.ajax({
                    url: '/admin/cancelcase',
                    data: { "reqid": reqid, "casetagid": casetagid, "cancelnotes": cancelnotes },
                    success: function (response) {
                        $(".CancelCaseBtn").modal("hide");
                        $("body").removeAttr("style");
                        $(".modal-backdrop").remove();
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        });
        $('.assigncase').on('click', function (e) {
            var reqid = $('#reqidAssignModel').text();
            var regid = $('.physiciandata').val();
            var phyid = $('#physelect').val();
            var Assignnotes = $('.Assignnotes').val();
            console.log(regid);
            if (regid == "") {
                $('.physiciandata').css('border', '1px solid red');
            }
            else if (phyid == "") {
                $('#physelect').css('border', '1px solid red');
            }
            else {
                $.ajax({
                    url: '/admin/assigncase',
                    data: { "reqid": reqid, "regid": regid, "phyid": phyid, "Assignnotes": Assignnotes },
                    success: function (response) {
                        window.location.reload();

                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        });

        $('.blockcase').on('click', function (e) {
            var reqid = $('#reqidBlockModel').text();
            var Blocknotes = $('.Blocknotes').val();
            $.ajax({
                url: '/admin/blockcase',
                data: { "reqid": reqid, "Blocknotes": Blocknotes },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.acceptbtn').on('click', function (e) {
            var id = $(this).attr("value");
            swal.fire({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '/Physician/PhysicianAccept',
                        data: { "id": id },
                        success: function (response) {
                            window.location.reload();
                            toastr.success("Accepted");
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    console.log('Cancelled!');
                }
            });
        });
    });
</script>
