@using System.Collections;
@{
    ViewData["Title"] = "Admin Profile";
    Layout = "PhysicianLayout/_PhysicianDashboard";
}
@model Services.ViewModels.EditPhysicianModal
<partial name="_Notification" />
<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
    }
</style>

<div class="main">
    <div class="back container mb-3 mt-3 d-flex justify-content-between">
        <h4 class="mt-3 fw-bold">My Profile</h4>
        <a asp-controller="Physician" asp-action="PhysicianDashboard" style="text-decoration: none;" class="backimg boxshadowbtn">
            <img src="~/images/image_2024_01_17T04_17_17_757Z.png" alt="">
            <span>Back</span>
        </a>
    </div>
    <div class="container bg-white lightmode shadow" style="padding-bottom:20px" id="maincontent">
        <form asp-action="PhysicianAccInfo" asp-controller="Admin" method="post">
            <div class="d-flex justify-content-end mb-2" data-bs-toggle="modal" data-bs-target="#ReqtoAdminModal">
                <button class="btn btn-outline-info">Request To Admin</button>
            </div>
            <input asp-for="@Model.physicianid" type="hidden" id="temp1" />
            <div class="accinfo">
                <h4>Account Information</h4>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Username" type="text" class="form-control firstedit" placeholder="Username" disabled>
                            <label for="floatingInput">User Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="password" type="password" class="form-control firstedit" placeholder="password">
                            <label for="floatingInput">Password</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <select asp-for="status" class="form-select firstedit" aria-label="Floating label select example" disabled>
                                <option value="4">Active</option>
                                <option value="2">Pending</option>
                            </select>
                            <label for="floatingSelect">Status</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select asp-for="role" class="form-select firstedit" aria-label="Floating label select example" disabled>
                                <option>Role</option>
                                @foreach (var obj in Model.roles)
                                {
                                    <option value="@obj.Roleid">@obj.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">Role</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button asp-action="PhysicianResetPass" asp-controller="Admin" type="submit" class="btn btn-outline-info ms-1 boxshadowbtn">Reset Password</button>
                </div>
            </div>
        </form>

        <input asp-for="physicianid" type="hidden" id="temp2" />
        <div class="PhyInfo mt-5">
            <h4>Physician Information</h4>
            <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Firstname" type="text" class="form-control secondedit" placeholder="FirstName" disabled>
                        <label for="floatingInput">First Name</label>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Lastname" type="text" class="form-control secondedit" placeholder="Name" disabled>
                        <label for="floatingInput">Last Name</label>
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control secondedit" placeholder="name@example.com" disabled>
                        <label for="floatingInput">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3 numcountry">
                        <select name="country" id="country" class="country secondedit" onchange="country_code()" disabled>
                            <option value="select country">select country</option>
                            <option value="us">US</option>
                            <option value="uk">UK</option>
                            <option value="br">BRAZIL</option>
                            <option value="ind">INDIA</option>
                        </select>
                        <input asp-for="phonenumber" type="tel" class="form-control output secondedit" id="output" placeholder="Mobile Number" disabled>
                    </div>
                    <span asp-validation-for="phonenumber" class="text-danger"></span>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="license" type="text" class="form-control secondedit" placeholder="License" disabled>
                        <label for="floatingInput">Medical License #</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="npi" type="text" class="form-control secondedit" placeholder="NPI" disabled>
                        <label for="floatingInput">NPI Number</label>
                    </div>
                </div>
                <div class="col d-flex flex-wrap">
                    @foreach (var obj in Model.regions)
                    {
                        string flag = "";
                        @if (Model.physicianregions.Contains(obj))
                        {
                            flag = "checked";
                        }
                        <div class="form-check me-2">
                            <input class="form-check-input secondedit" name="PhysicianRegion" type="checkbox" value="@obj.Regionid" id="flexCheckChecked-@obj.Regionid" @flag disabled>
                            <label class="form-check-label" for="flexCheckChecked-@obj.Regionid">
                                @obj.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="Mailinginfo">
            <input asp-for="physicianid" type="hidden" id="temp3">
            <h5>Mailing & Billing Information</h5>
            <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Address1" type="text" class="form-control thirdedit" placeholder="Adress1" disabled>
                        <label for="floatingInput">Address 1</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Address2" type="text" class="form-control thirdedit" placeholder="Address2" disabled>
                        <label for="floatingInput">Address 2</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="City" type="text" class="form-control thirdedit" placeholder="name@example.com" disabled>
                        <label for="floatingInput">City</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3 mb-md-0">
                        <select asp-for="regionid" class="form-select thirdedit" aria-label="Floating label select example" disabled>
                            @foreach (var obj in Model.regions)
                            {
                                <option value="@obj.Regionid">@obj.Name</option>
                            }
                        </select>
                        <label for="floatingSelect">State</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="zipcode" type="text" class="form-control thirdedit" placeholder="name@example.com" disabled>
                        <label for="floatingInput">Zip</label>
                        <span asp-validation-for="zipcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3 mb-lg-0 numcountry">
                        <select name="country" id="country2" class="country thirdedit" onchange="country_code2()" disabled>
                            <option value="select country">select country</option>
                            <option value="us">US</option>
                            <option value="uk">UK</option>
                            <option value="br">BRAZIL</option>
                            <option value="ind">INDIA</option>
                        </select>
                        <input asp-for="altphone" type="tel" class="form-control output thirdedit" id="output2" placeholder="Mobile Number" disabled>
                    </div>
                </div>
            </div>
        </div>


        <div class="ProviderProfile">
            <input asp-for="physicianid" type="hidden" id="temp4">
            <h5>Provider Profile</h5>
            <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="BusinessName" type="text" class="form-control fourthedit" placeholder="BusinessName" disabled>
                        <label for="floatingInput">Business Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Businesssite" type="text" class="form-control fourthedit" placeholder="Businesssite" disabled>
                        <label for="floatingInput">Business Website</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv bg-body-secondary mb-3 mb-md-0">
                        <div class="px-3 table-responsive">
                            <input id="actual-btn" type="file" hidden disabled/>
                            <label role="button" id="file-chosen" for="actual-btn" class="choosenfile text-dark text-nowrap">Select Photo</label>
                        </div>
                        <button type="button" id="uploadphoto" class="uploadbtn btn btn-info d-flex ms-1 border-0 text-white">
                            <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div></label>
                        </button>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv bg-body-secondary" style="width:60%">
                        <div class="px-3 table-responsive">
                            <input id="actual-btn2" type="file" hidden disabled />
                            <label role="button" for="actual-btn2" id="file-chosen" class="choosenfile text-dark text-nowrap">Select Signature</label>
                        </div>
                        <button id="PhySignSubmit" type="button" class="uploadbtn btn btn-info d-flex ms-1 border-0 text-white">
                            <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div></label>
                        </button>
                    </div>
                    <button type="button" class="btn btn-info d-flex align-items-center ms-1 border-0 text-white boxshadowbtn">
                        <i class="fa-solid fa-pencil p-2"></i> Create
                    </button>
                </div>
                <div class="col">
                    <img class="mt-3" width="80%" src="@Model.photo">
                </div>
                <div class="col">
                    <img class="mt-3" id="physign" src="@Model.sign">
                </div>
            </div>
            <div class="form-floating mt-4">
                <textarea asp-for="Adminnotes" class="form-control fourthedit" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px" disabled></textarea>
                <label for="floatingTextarea2">Admin Notes</label>
            </div>
        </div>

        <div class="border mt-2" style="border-bottom:1px solid"></div>
        <div class="onboarding mt-2">
            <h5>Onboarding</h5>
            <div class="d-flex align-items-center">
                <div>
                    @{
                        var f = "";
                        BitArray p = Model.Isagreementdoc!;
                        @if (p != null && p[0] == true)
                        {
                            f = "checked";
                        }
                    }
                    <input type="checkbox" class="me-1" @f> Independent Contractor Agreement
                </div>
                @if (f == "checked")
                {
                    <a href="@Url.Action("OpenFile", "Admin", new { fileName = "ICA.pdf" , physicianid = Model.physicianid})" target="_blank" type="submit" class="btn ms-1 p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center boxshadowbtn">
                        <i class="bi  bi-eye-fill"></i>
                        <span class="d-none d-lg-block ps-2">View</span>
                    </a>
                }
            </div>
            <div class="d-flex align-items-center mt-2">
                <div style="width:274.22px">
                    @{
                        f = "";
                        p = Model.Isbackgrounddoc!;
                        @if (p != null && p[0] == true)
                        {
                            f = "checked";
                        }
                    }
                    <input type="checkbox" class="me-1" @f> Background Check
                </div>
                @if (f == "checked")
                {
                    <a href="@Url.Action("OpenFile", "Admin", new { fileName = "BGCheck.pdf" , physicianid = Model.physicianid})" target="_blank" type="submit" class="btn ms-1 p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center boxshadowbtn">
                        <i class="bi  bi-eye-fill"></i>
                        <span class="d-none d-lg-block ps-2">View</span>
                    </a>
                }
            </div>
            <div class="d-flex align-items-center mt-2">
                <div style="width:274.22px">
                    @{
                        f = "";
                        p = Model.Iscredentialdoc!;
                        @if (p != null && p[0] == true)
                        {
                            f = "checked";
                        }
                    }
                    <input type="checkbox" class="me-1" @f> HIPAA Compilance
                </div>
                @if (f == "checked")
                {
                    <a href="@Url.Action("OpenFile", "Admin", new { fileName = "HIPAA.pdf" , physicianid = Model.physicianid})" target="_blank" type="submit" class="btn ms-1 p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center boxshadowbtn">
                        <i class="bi  bi-eye-fill"></i>
                        <span class="d-none d-lg-block ps-2">View</span>
                    </a>
                }
            </div>
            <div class="d-flex align-items-center mt-2">
                <div style="width:274.22px">
                    @{
                        f = "";
                        p = Model.Isnondisclosuredoc!;
                        @if (p != null && p[0] == true)
                        {
                            f = "checked";
                        }
                    }
                    <input type="checkbox" class="me-1" @f> Non-disclosure Agreement
                </div>
                @if (f == "checked")
                {
                    <a href="@Url.Action("OpenFile", "Admin", new { fileName = "NDDoc.pdf" , physicianid = Model.physicianid})" target="_blank" type="submit" class="btn ms-1 p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center boxshadowbtn">
                        <i class="bi  bi-eye-fill"></i>
                        <span class="d-none d-lg-block ps-2">View</span>
                    </a>
                }
            </div>
            <div class="d-flex align-items-center mt-2">
                <div style="width:274.22px">
                    @{
                        f = "";
                        p = Model.Islicensedoc!;
                        @if (p != null && p[0] == true)
                        {
                            f = "checked";
                        }
                    }
                    <input type="checkbox" class="me-1" @f> License Document
                </div>
                @if (f == "checked")
                {
                    <a href="@Url.Action("OpenFile", "Admin", new { fileName = "LDDoc.pdf" , physicianid = Model.physicianid})" target="_blank" type="submit" class="btn ms-1 p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center boxshadowbtn">
                        <i class="bi  bi-eye-fill"></i>
                        <span class="d-none d-lg-block ps-2">View</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


@*Request To Admin Modal*@
<div class="modal fade" id="ReqtoAdminModal" tabindex="-1" aria-labelledby="ReqtoAdminModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="ReqtoAdminModalLabel">Request To Administrator</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Need to send message to edit
                <div class="form-floating mt-4">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height:140px"></textarea>
                    <label for="floatingTextarea">Message</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white">Send</button>
                <button type="button" class="btn btn-outline-info ms-1" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('Profile-tab').classList.add('active');
</script>


