@{
    ViewData["Title"] = "Create Provider Account";
    Layout = "AdminLayout/_AdminDashboard";
}
@model Services.ViewModels.EditPhysicianModal
<partial name="_Notification" />

<div class="main">
    <div class="back container mb-3 mt-3 d-flex justify-content-between">
        <h4 class="mt-3">Create Provider Account</h4>
        <a asp-controller="Admin" asp-action="Providertab" style="text-decoration: none;" class="backimg boxshadowbtn">
            <img src="~/images/image_2024_01_17T04_17_17_757Z.png" alt="">
            <span>Back</span>
        </a>
    </div>
    <form asp-action="CreateProviderAccBtn" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <div class="container bg-white lightmode shadow" style="padding-bottom:20px" id="maincontent">
            <div class="accinfo">
                <h5>Account Information</h5>
                <div class="row row-cols-md-3 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                            <label for="floatingInput">User Name (MD.Lastname.F)</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="password" type="text" id="togpass" class="form-control" placeholder="Name">
                            <label for="floatingInput">Password</label>
                            <span asp-validation-for="password" id="passwordWarning" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select asp-for="role" class="form-select" aria-label="Floating label select example">
                                <option selected>Select Role</option>
                                @foreach (var obj in Model.roles)
                                {
                                    <option value="@obj.Roleid">@obj.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">Role</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="administratorinfo mt-4">
                <h5>Administrator Information</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Firstname" type="text" class="form-control " placeholder="FirstName">
                            <label for="floatingInput">First Name</label>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Lastname" type="text" class="form-control " placeholder="Name">
                            <label for="floatingInput">Last Name</label>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control emailcheck" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 mb-lg-0 numcountry">
                            <select name="country" id="country" class="country " onchange="country_code()">
                                <option value="select country">select country</option>
                                <option value="us">US</option>
                                <option value="uk">UK</option>
                                <option value="br">BRAZIL</option>
                                <option value="ind">INDIA</option>
                            </select>
                            <input asp-for="phonenumber" type="tel" class="form-control output " id="output" placeholder="Mobile Number">
                        </div>
                        <span asp-validation-for="phonenumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="license" type="text" class="form-control " placeholder="License">
                            <label for="floatingInput">Medical License #</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="npi" type="text" class="form-control " placeholder="NPI">
                            <label for="floatingInput">NPI Number</label>
                        </div>
                    </div>
                    <div class="col d-flex flex-wrap">
                        @foreach (var obj in Model.regions)
                        {
                            <div class="form-check me-2">
                                <input class="form-check-input " name="PhysicianRegion" type="checkbox" value="@obj.Regionid" id="flexCheckChecked-@obj.Regionid">
                                <label class="form-check-label" for="flexCheckChecked-@obj.Regionid">
                                    @obj.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="Mailinginfo mt-4">
                <h5>Mailing & Billing Information</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Address1" id="Address1" type="text" class="form-control " placeholder="Adress1">
                            <label for="floatingInput">Address 1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Address2" id="Address2" type="text" class="form-control " placeholder="Address2">
                            <label for="floatingInput">Address 2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="City" id="City" type="text" class="form-control " placeholder="name@example.com">
                            <label for="floatingInput">City</label>
                        </div>
                    </div>
                    <input asp-for="lattitude" type="hidden" id="lat"/>
                    <input asp-for=longitude type="hidden" id="long"/>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <select asp-for="regionid" class="form-select " aria-label="Floating label select example">
                                @foreach (var obj in Model.regions)
                                {
                                    <option value="@obj.Regionid">@obj.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">State</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="zipcode" type="text" class="form-control">
                            <label for="floatingInput">Zip</label>
                            <span asp-validation-for="zipcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 numcountry">
                            <select name="country" id="country2" class="country " onchange="country_code2()">
                                <option value="select country">select country</option>
                                <option value="us">US</option>
                                <option value="uk">UK</option>
                                <option value="br">BRAZIL</option>
                                <option value="ind">INDIA</option>
                            </select>
                            <input asp-for="altphone" type="tel" class="form-control output" id="output2" placeholder="Mobile Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ProviderProfile mt-4">
                <h5>Provider Profile</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="BusinessName" type="text" class="form-control" placeholder="BusinessName">
                            <label for="floatingInput">Business Name</label>
                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Businesssite" type="text" class="form-control" placeholder="BusinessSite">
                            <label for="floatingInput">Business Website</label>
                            <span asp-validation-for="Businesssite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-between mt-3 border rounded" style="height:58px">
                            <input asp-for="Images" type="file" class="file mt-3" id="actual-btn" hidden multiple />
                            <span id="file-chosen" class="ms-3">Select File</span>
                            <label for="actual-btn" class="filelable" style="height:58px"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mt-4">
                    <textarea asp-for="Adminnotes" class="form-control fourthedit" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                    <label for="floatingTextarea2">Admin Notes</label>
                </div>
            </div>
            <div class="border mt-5" style="border-bottom:1px solid"></div>
            <div class="onboarding mt-4">
                <h5>Onboarding</h5>
                <div class="d-flex align-items-center">
                    <div>
                        <input type="checkbox" class="me-1 btn1"> Independent Contractor Agreement
                    </div>
                    <button type="button" data-url="/Admin/UploadICAdoc" class="ms-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center">
                        <input asp-for="ICAdoc" onclick="phydocupload(this.id ,'file-chosen1')" type="file" class="pdffile" id="actual-btn1" hidden />
                        <label for="actual-btn1" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen1" class="d-none">Select File</span>

                    </button>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div style="width:274.22px">
                        <input type="checkbox" class="me-1 btn2"> Background Check
                    </div>
                    <button type="button" data-url="/Admin/UploadBGcheckdoc" class="ms-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                        <input asp-for="BGcheckdoc" onclick="phydocupload(this.id ,'file-chosen2')" type="file" class="pdffile" id="actual-btn2" hidden />
                        <label for="actual-btn2" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen2" class="d-none">Select File</span>
                    </button>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div style="width:274.22px">
                        <input type="checkbox" class="me-1 btn3"> HIPAA Compilance
                    </div>
                    <button type="button" data-url="/Admin/UploadHIPAAdoc" class="ms-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                        <input asp-for="HIPAAdoc" onclick="phydocupload(this.id ,'file-chosen3')" type="file" class="pdffile" id="actual-btn3" hidden />
                        <label for="actual-btn3" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen3" class="d-none">Select File</span>
                    </button>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div style="width:274.22px">
                        <input type="checkbox" class="me-1 btn4"> Non-disclosure Agreement
                    </div>
                    <button type="button" data-url="/Admin/UploadNDdoc" class="ms-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                        <input asp-for="NDdoc" onclick="phydocupload(this.id ,'file-chosen4')" type="file" class="pdffile" id="actual-btn4" hidden />
                        <label for="actual-btn4" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen4" class="d-none">Select File</span>
                    </button>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div style="width:274.22px">
                        <input type="checkbox" class="me-1 btn5"> License Document
                    </div>
                    <button type="button" data-url="/Admin/UploadLDdoc" class="ms-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                        <input asp-for="LDdoc" onclick="phydocupload(this.id ,'file-chosen5')" type="file" class="pdffile" id="actual-btn5" hidden />
                        <label for="actual-btn5" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen5" class="d-none">Select File</span>
                    </button>
                </div>
            </div>
            <div class="border mt-3" style="border-bottom:1px solid"></div>
            <div class="d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-success boxshadowbtn createacc">Create Account</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/somanchiu/Keyless-Google-Maps-API@v6.6/mapsJavaScriptAPI.js"
        async defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $('#togpass').on('input', function () {
        if ($('#togpass').val() == "") {
            $('#passwordWarning').html("*Please enter password")
        }
        else {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%#*?&])[A-Za-z\d@@$!#%*?&]{8,}$/

            if (!regex.test($('#togpass').val())) {
                $('#passwordWarning').html("*Password should contain atleast one number , one alphabet , one special character and having length minimum 8.");

            } else {
                $('#passwordWarning').html("");
            }
        }
    });
    $('.createacc').on('click', function () {
        if ($('#togpass').val() != "" && $('#passwordWarning').text() == "") {
            $('.createacc').prop('type', 'submit');
            $('.createacc').click();
        }
    });
    document.getElementById('providertab').classList.add('active');
    document.getElementById('providerdrop').classList.add('active');
    document.getElementById('City').addEventListener('focusout', getCoordinates);
    document.getElementById('Address1').addEventListener('focusout', getCoordinates);
    document.getElementById('Address2').addEventListener('focusout', getCoordinates);
    function getCoordinates() {
        console.log("in");
        var address = document.getElementById('Address1').value + " " + document.getElementById('Address2').value + " " + document.getElementById('City').value;
        console.log(address);
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: address }, function (results, status) {
            if (status == "OK") {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                document.getElementById('lat').value = latitude;
                document.getElementById('long').value = longitude;
                console.log(latitude);
                console.log(longtitude);

                //return true;
            } else {
                console.log("Geocoding failed: " + status);
                //return false;
            }
        });
        //return true;
    }
    $(document).ready(function () {
        $('.fileuploadbtn').on('click', function () {
            $('#SelectFileToUpload').data('url', $(this).data('url'));
            $('#SelectFileToUpload').click();
        });
        $('#SelectFileToUpload').on('change', function () {
            var formData = new FormData();
            formData.append('physicianid', @Model.physicianid);
            formData.append('file', this.files[0]);
            $.ajax({
                url: $(this).data('url'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#errormessageforfile').text(jqXHR.responseText);
                }
            });
        });
        $('.pdffile').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype != "application/pdf") {
                toastr.error("Upload file in pdf format");
            }
            else {
                toastr.success("File uploaded successfuly");
            }
        });
        $('#actual-btn1').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype == "application/pdf") {
                $('.btn1').prop('checked', true);
            }
        });
        $('#actual-btn2').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype == "application/pdf") {
                $('.btn2').prop('checked', true);
            }
        });
        $('#actual-btn3').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype == "application/pdf") {
                $('.btn3').prop('checked', true);
            }
        });
        $('#actual-btn4').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype == "application/pdf") {
                $('.btn4').prop('checked', true);
            }
        });
        $('#actual-btn5').on('change', function () {
            var file = this.files[0];
            var contenttype = file.type;
            if (contenttype == "application/pdf") {
                $('.btn5').prop('checked', true);
            }
        });
        $('.emailcheck').on('change', function () {
            var email = $(this).val();
            $.ajax({
                url: '/Admin/phyemailcheck',
                data: {"email" : email},
                success: function (data) {
                    if(data == false)
                    {
                        toastr.error("Email already exist");
                        $('.createacc').addClass('d-none');
                    }
                    else{
                        $('.createacc').removeClass('d-none');
                    }
                },
            });
        });
    });
</script>