@{
    ViewData["Title"] = "Edit Admin";
    Layout = "AdminLayout/_AdminDashboard";
}

@model Services.ViewModels.AdminProfile
<partial name="_Notification" />

<div class="container-fluid mt-5 dashboard" style="width: 80%;">
    <div class="d-flex justify-content-between">
        <h4 class="mt-1 fw-bold">Admin Profile</h4>
        <div class="backbtn">
            <a asp-controller="Admin" asp-action="UserAccess" class="btn btn-outline-info text-center boxshadowbtn">&lt; Back</a>
        </div>
    </div>
    <div class="bg-white p-4 mt-2 rounded shadow lightmode">
        <div class="accinfo">
            <form method="post" asp-action="AdminResetPassword" asp-controller="Admin">
                <input asp-for="@Model.adminid" type="hidden" id="temp1">
                <h5>Account Information</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Username" type="text" class="form-control" placeholder="Name" disabled>
                            <label for="floatingInput">User Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.ResetPassword" type="password" class="form-control" placeholder="Name">
                            <label for="floatingInput">Password</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select class="form-select mb-3 mb-md-0" aria-label="Floating label select example" disabled>
                                @if (Model.status == 4 || Model.status == 5)
                                {
                                    <option value="4">Active</option>
                                }
                                else if (Model.status == 2)
                                {
                                    <option value="=2">Pending</option>
                                }
                            </select>
                            <label for="floatingSelect">Status</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <select asp-for="@Model.roleid" class="form-select" aria-label="Floating label select example" disabled>
                                <option>Role</option>
                                @foreach (var obj in Model.roles!)
                                {
                                    <option value="@obj.Roleid">@obj.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">Role</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" name="useaccess" value="1" class="btn btn-outline-info boxshadowbtn">Reset Password</button>
                </div>
            </form>
        </div>

        <div class="Administratorinfo">
            <form method="post" asp-action="AdministratorinfoEdit" asp-controller="Admin">
                <input asp-for="@Model.adminid" type="hidden" id="temp2">
                <h5>Administrator Information</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.firstname" type="text" class="form-control firstedit" placeholder="FirstName" disabled>
                            <label for="floatingInput">First Name</label>
                            <span asp-validation-for="firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.lastname" type="text" class="form-control firstedit" placeholder="Name" disabled>
                            <label for="floatingInput">Last Name</label>
                            <span asp-validation-for="lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.email" type="email" class="form-control firstedit" id="email1" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Email</label>
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.confirmemail" type="email" class="form-control firstedit" id="email2" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Confirm Email</label>
                            <span asp-validation-for="confirmemail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 mb-lg-0 numcountry">
                            <select name="country" id="country" class="country firstedit" onchange="country_code()" disabled>
                                <option value="select country">select country</option>
                                <option value="us">US</option>
                                <option value="uk">UK</option>
                                <option value="br">BRAZIL</option>
                                <option value="ind">INDIA</option>
                            </select>
                            <input asp-for="@Model.phonenumber" type="tel" class="form-control output firstedit" id="output" placeholder="Mobile Number" disabled>
                        </div>
                        <span asp-validation-for="phonenumber" class="text-danger"></span>
                    </div>
                    <div class="col d-flex flex-wrap">
                        @foreach (var obj in Model.regions!)
                        {
                            var f = "";
                            @if (Model.adminregions!.Contains(obj))
                            {
                                f = "checked";
                            }
                            <div class="form-check me-2">
                                <input class="form-check-input firstedit" name="AdminRegion" type="checkbox" value="@obj.Regionid" id="flexCheckChecked-@obj.Regionid" @f disabled>
                                <label class="form-check-label" for="flexCheckChecked-@obj.Regionid">
                                    @obj.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="button" onclick="editoneclick()" class="btn btn-info text-white editf boxshadowbtn">Edit</button>
                    <button type="submit" name="useaccess" value="1" class="btn btn-info text-white d-none savef boxshadowbtn">Save</button>
                    <button type="reset" onclick="canceloneclick()" class="btn btn-outline-info ms-1 d-none cancelf boxshadowbtn">Cancel</button>
                </div>
            </form>
        </div>

        <div class="Mailinginfo">
            <form method="post" asp-action="MailinginfoEdit" asp-controller="Admin">
                <input asp-for="@Model.adminid" type="hidden" id="temp3">
                <h5>Mailing & Billing Information</h5>
                <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.address1" type="text" class="form-control secondedit" placeholder="FirstName" disabled>
                            <label for="floatingInput">Address 1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.address2" type="text" class="form-control secondedit" placeholder="Name" disabled>
                            <label for="floatingInput">Address 2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.city" type="text" class="form-control secondedit" placeholder="name@example.com" disabled>
                            <label for="floatingInput">City</label>
                            <span asp-validation-for="city" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <select asp-for="@Model.regionid" class="form-select secondedit" aria-label="Floating label select example" disabled>
                                @foreach (var obj in Model.regions)
                                {
                                    <option value="@obj.Regionid">@obj.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">State</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.zipcode" type="text" class="form-control secondedit" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Zip</label>
                            <span asp-validation-for="zipcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 numcountry">
                            <select name="country" id="country2" class="country secondedit" onchange="country_code2()" disabled>
                                <option value="select country">select country</option>
                                <option value="us">US</option>
                                <option value="uk">UK</option>
                                <option value="br">BRAZIL</option>
                                <option value="ind">INDIA</option>
                            </select>
                            <input asp-for="@Model.altphone" type="tel" class="form-control output secondedit" id="output2" placeholder="Mobile Number" disabled>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="button" onclick="editsecondclick()" class="btn btn-info text-white edits boxshadowbtn">Edit</button>
                    <button type="submit" name="useaccess" value="1" class="btn btn-info text-white d-none saves boxshadowbtn">Save</button>
                    <button type="reset" onclick="cancelsecondclick()" class="btn btn-outline-info ms-1 d-none cancels boxshadowbtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('accesstab').classList.add('active');
    document.getElementById('useraccess').classList.add('active');
    function editoneclick() {
        $('.savef').removeClass('d-none').addClass('d-inline-block');
        $('.cancelf').removeClass('d-none').addClass('d-inline-block');
        $('.editf').removeClass('d-inline-block').addClass('d-none');
        $('.firstedit').each(function () {
            $(this).prop('disabled', false);
        });

    }
    function canceloneclick() {
        $('.editf').removeClass('d-none').addClass('d-inline-block');
        $('.savef').removeClass('d-inline-block').addClass('d-none');
        $('.cancelf').removeClass('d-inline-block').addClass('d-none');
        $('.firstedit').each(function () {
            $(this).prop('disabled', true);
        });
    }
    function editsecondclick() {
        $('.saves').removeClass('d-none').addClass('d-inline-block');
        $('.cancels').removeClass('d-none').addClass('d-inline-block');
        $('.edits').removeClass('d-inline-block').addClass('d-none');
        $('.secondedit').each(function () {
            $(this).prop('disabled', false);
        });

    }
    function cancelsecondclick() {
        $('.edits').removeClass('d-none').addClass('d-inline-block');
        $('.saves').removeClass('d-inline-block').addClass('d-none');
        $('.cancels').removeClass('d-inline-block').addClass('d-none');
        $('.secondedit').each(function () {
            $(this).prop('disabled', true);
        });
    }
</script>






