@{
    ViewData["Title"] = "Patient Dashboard";
    Layout = "_PatientDashboard";
}
@model Services.ViewModels.PatientDashboardedit
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<Partial name="_Notification" />
<style>
    .icn::before {
        border: 2px solid #0dcaf0;
        border-radius: 50%;
        line-height: 1;
        font-size: 13px;
        padding: 3px;
    }

    .icns::before {
        font-weight: 900 !important;
    }
</style>
<div class="tab-content mt-4" id="myTabContent">
    <div class="tab-pane fade show active activenone" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
         tabindex="0">
        <div class="container-fluid mt-5 dashboard p-0 p-sm-3" style="width: 90%;">
            <h4>
                Medical History
            </h4>
            <div class="CreateReqBtn bg-white lightmode mt-4">
                <button type="button" class="btn btn-outline-info me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New Request</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-controller="Dashboard" asp-action="MeElse">
                                <div class="modal-body">
                                    Here, I want to create new request for...
                                    <br>
                                    <br>
                                    <input value="me" type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                                    <label class="btn btn-outline-info" for="success-outlined">Me</label>

                                    <input value="else" type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                                    <label class="btn btn-outline-info" for="danger-outlined">For Someone Else</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info" style="color:white">Continue</button>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table d-none d-md-table mt-2" id="dtBasicExample">
                    <thead>
                        <tr>
                            <th class="bg-body-secondary" scope="col">Created Date <i class="bi bi-arrow-down"></i></th>
                            <th class="bg-body-secondary" scope="col">Current Status</th>
                            <th class="bg-body-secondary" scope="col">Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.requests!)
                        {
                            <tr>
                                <td>
                                    @obj.Createddate
                                </td>
                                <td>
                                    @if (obj.Status == 1)
                                    {
                                        <span>Processing</span>
                                    }
                                    else if (obj.Status == 2)
                                    {
                                        <span>Accepted</span>
                                    }
                                </td>
                                <td>
                                    <a class="text-decoration-none" asp-controller="Dashboard" asp-action="ViewDocument" asp-route-id="@obj.Requestid">
                                        <button class="d-flex btn btn-outline-info rounded align-item-center p-1 px-2 docbutton justify-content-center">
                                            <div class="plusdocument" style="display:none"><i class="bi bi-plus-lg"></i></div>
                                            <div class="nonedocument">
                                                <span>(@obj.Requestwisefiles.Count()) Documents</span>
                                            </div>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="accordion accordion-flush d-md-none d-block" id="accordionExample">
                    <div class="accordion-item">
                        @foreach (var obj in Model.requests)
                        {
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-@obj.Requestid" aria-expanded="true" aria-controls="collapseOne-@obj.Requestid">
                                    <i class="fa-regular fa-clock me-1 text-info"></i>Created Date : @obj.Createddate
                                </button>
                            </h2>
                            <div id="collapseOne-@obj.Requestid" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="mb-1">
                                        <i class="fa-solid fa-user-tie me-1 text-info icn"></i> Provider
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-check me-1 text-info icn"></i>CurrentStatus :
                                        @if (obj.Status == 1)
                                        {
                                            <span>Processing</span>
                                        }
                                        else if (obj.Status == 2)
                                        {
                                            <span>Accepted</span>
                                        }
                                    </div>
                                    <br>
                                    <a class="text-decoration-none" asp-controller="Dashboard" asp-action="ViewDocument" asp-route-id="@obj.Requestid">
                                        <button class="d-flex btn btn-outline-info rounded align-item-center p-1 px-2 docbutton w-100 justify-content-center">
                                            <div class="plusdocument" style="display:none"><i class="bi bi-plus-lg"></i></div>
                                            <div class="nonedocument">
                                                <span>(@obj.Requestwisefiles.Count()) Documents</span>
                                            </div>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <partial name="_PatientProfile" />
    </div>
</div>
<script>
    //data table initiate
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,

        });
    });
</script>