@{
    ViewData["Title"] = "Patient Dashboard";
    Layout = "_PatientDashboard";
}
@model Services.ViewModels.PatientDashboardedit
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<Partial name="_Notification" />
<div class="tab-content mt-4" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
         tabindex="0">
        <div class="container-fluid mt-5 dashboard" style="width: 90%;">
            <h4>
                Medical History
            </h4>
            <div class="CreateReqBtn bg-white mt-4">
                <button type="button" class="btn btn-outline-info me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New Request</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-controller="Dashboard" asp-action="MeElse">
                                <div class="modal-body">
                                    Here, I want to create new request for...
                                    <br>
                                    <br>
                                    <input value="me" type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                                    <label class="btn btn-outline-info" for="success-outlined">Me</label>

                                    <input value="else" type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                                    <label class="btn btn-outline-info" for="danger-outlined">For Someone Else</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info" style="color:white">Continue</button>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mt-2" id="dtBasicExample">
                    <thead>
                        <tr>
                            <th class="bg-body-secondary" scope="col">Created Date <i class="bi bi-arrow-down"></i></th>
                            <th class="bg-body-secondary" scope="col">Current Status</th>
                            <th class="bg-body-secondary" scope="col">Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.requests)
                        {
                            <tr>
                                <td>
                                    @obj.Createddate
                                </td>
                                <td>
                                    @if (obj.Status == 1)
                                    {
                                        <span>Processing</span>
                                    }
                                    else if (obj.Status == 2)
                                    {
                                        <span>Accepted</span>
                                    }
                                </td>
                                <td>
                                    @if (obj.Requestwisefiles.Count() != 0)
                                    {
                                        <a asp-controller="Dashboard" asp-action="ViewDocument">
                                            <button class="d-flex btn btn-outline-info rounded align-item-center p-1 px-2 docbutton">
                                                <a style="text-decoration : none" asp-controller="Dashboard" asp-action="ViewDocument" asp-route-id="@obj.Requestid">
                                                    <div class="plusdocument" style="display:none"><i class="bi bi-plus-lg"></i></div>
                                                </a>
                                                <div class="nonedocument">
                                                    <a style="text-decoration : none" asp-controller="Dashboard" asp-action="ViewDocument" asp-route-id="@obj.Requestid">
                                                        <span>(@obj.Requestwisefiles.Count()) Documnets</span>
                                                    </a>
                                                </div>
                                            </button>
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No Document</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container">
            <form asp-controller="Dashboard" asp-action="editUser">
                <div class="pinfo">
                    <h4>Patient Information</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Firstname" type="text" class="form-control" id="floatingInput" placeholder="Name" value="@Model.User.Firstname">
                                <label for="floatingInput">First Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Lastname" type="text" class="form-control" id="floatingInput" placeholder="Name" value="@Model.User.Lastname">
                                <label for="floatingInput">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 date">
                            <input asp-for="tempdate" type="date" class="form-control" id="floatingInput" placeholder="Date">
                            <label for="floatingInput">Date Of Birth</label>
                        </div>
                    </div>
                </div>
                <div class="pcinfo mt-5">
                    <h4>Patient Contact Information</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Email" type="email" class="form-control" id="patientEmail" placeholder="name@example.com" value="@Model.User.Email">
                                <label for="patientEmail">Email</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3 numcountry">
                                <select name="country" id="country" class="country" onchange="country_code()">
                                    <option value="select country">select country</option>
                                    <option value="us">US</option>
                                    <option value="uk">UK</option>
                                    <option value="br">BRAZIL</option>
                                    <option value="ind">INDIA</option>
                                </select>
                                <input asp-for="User.Mobile" type="tel" class="form-control output" id="output" placeholder="Mobile Number" value="@Model.User.Mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plocation mt-5">
                    <h4>Patient Location</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Street" type="text" class="form-control" id="floatingInput" placeholder="Street" value="@Model.User.Street">
                                <label for="floatingInput">Street</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.City" type="text" class="form-control" id="floatingInput" placeholder="City" value="@Model.User.City">
                                <label for="floatingInput">City</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.State" type="text" class="form-control" id="floatingInput" placeholder="State" value="@Model.User.State">
                                <label for="floatingInput">State</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Zipcode" type="text" class="form-control" id="floatingInput" placeholder="Zip Code" value="@Model.User.Zipcode">
                                <label for="floatingInput">Zip Code</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="updoc mt-5">
                    <h4>(Optional) Upload Photo Or Document</h4>
                    <div class="fileselect mt-3">
                        <input type="file" class="file mt-3" id="actual-btn" hidden />
                        <label for="actual-btn" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen">Select File</span>
                    </div>
                </div>
                <div class="submit mt-4">
                    <button type="submit" class="btn btn-info" style="color: white;">Edit</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    //data table initiate
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,

        });
    });
</script>