@{
    ViewData["Title"] = "View Document";
    Layout = "_PatientDashboard";
}
@model Services.ViewModels.PatientDashboardedit
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<Partial name="_Notification" />
<div class="tab-content mt-4" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
         tabindex="0">
        <div class="container-fluid mt-5 dashboard" style="width: 90%;">
            <div class="d-flex justify-content-between">
                <h4>Documents</h4>
                <div class="backbtn">
                    <a asp-controller="Dashboard" asp-action="PatientDashboard">
                        <button type="button" class="btn btn-outline-info text-center"><img style="margin-bottom : 2px" src="~/images/image_2024_01_17T04_17_17_757Z.png" height="12px" width="10px">Back</button>
                    </a>
                </div>
            </div>
            <div class="documenthead mt-4 bg-white p-3 rounded">
                <span class="text-body-secondary">Patient Name</span>
                <h5 class="text-info">@HttpContextAccessor.HttpContext.Session.GetString("Username") (@Model.requests.FirstOrDefault(u => u.Requestid == (Model.requests.FirstOrDefault(m => m.Userid == Model.User.Userid).Requestid)).Confirmationnumber)</h5>
                @{
                    int id = (Model.requests.FirstOrDefault(u => u.Userid == Model.User.Userid).Requestid);
                    Model.reqid = id;
                    Model.filename = (Model.requestwisefiles.FirstOrDefault(u => u.Requestid == Model.reqid)).Filename;
                }
                <span class="text-body-secondary">Check here for any files that you and doctors of your subsequents requestors have attached for you to review</span>
                <form asp-controller="Dashboard" asp-action="DocUpload" enctype="multipart/form-data" method="post">
                    <input type="hidden" asp-for="reqid">
                    <div class="row d-flex">
                        <div class="col-12">
                            <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv bg-body-secondary">
                                <div class="px-3 table-responsive">
                                    <input type="file" id="actual-btn" asp-for="Upload" multiple hidden />
                                    <label role="button" for="actual-btn" id="file-chosen" class="choosenfile text-dark text-nowrap">No item selected</label>
                                </div>
                                <button type="submit" class="uploadbtn btn btn-info d-flex ms-1 border-0">
                                    <label role="button" class="d-flex align-items-center"><i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" asp-controller="Dashboard" asp-action="DownloadFile">
                    <div class="d-flex justify-content-between mt-3">
                        <h5>Documents</h5>
                        <button type="submit" class="btn btn-outline-info text-center">Download All</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-2" id="dtBasicExample">
                            <thead>
                                <tr>
                                    <th class="bg-body-secondary" scope="col"><input id="chkbox" type="checkbox"></th>
                                    <th class="bg-body-secondary" scope="col"></th>
                                    <th class="bg-body-secondary" scope="col">Uploder</th>
                                    <th class="bg-body-secondary" scope="col">Upload Date</th>
                                    <th class="bg-body-secondary" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.requestwisefiles)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="childChkbox" id="@obj.Requestwisefileid" name="checklist" value="@obj.Requestwisefileid">
                                        </td>
                                        <td>
                                            @{
                                                var file = obj.Filename.Split("document\\");
                                            }
                                            @file[1]
                                        </td>
                                        <td>
                                            @Model.requests.FirstOrDefault(u => u.Requestid == obj.Requestid).Firstname
                                        </td>
                                        <td>
                                            @obj.Createddate
                                        </td>
                                        <td>
                                            <a asp-controller="Dashboard" asp-action="SingleDownload" asp-route-id="@obj.Requestwisefileid">
                                                <div class="btn btn-outline-info">
                                                    <i class="bi bi-cloud-arrow-up"></i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container">
            <form asp-controller="Dashboard" asp-action="editUser">
                <div class="pinfo">
                    <h4>Patient Information</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Firstname" type="text" class="form-control" id="floatingInput" placeholder="Name" value="@Model.User.Firstname">
                                <label for="floatingInput">First Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Lastname" type="text" class="form-control" id="floatingInput" placeholder="Name" value="@Model.User.Lastname">
                                <label for="floatingInput">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 date">
                            <input asp-for="tempdate" type="date" class="form-control" id="floatingInput" placeholder="Date">
                            <label for="floatingInput">Date Of Birth</label>
                        </div>
                    </div>
                </div>
                <div class="pcinfo mt-5">
                    <h4>Patient Contact Information</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Email" onblur="checkEmailExists()" type="email" class="form-control" id="patientEmail" placeholder="name@example.com" value="@Model.User.Email">
                                <label for="patientEmail">Email</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3 numcountry">
                                <select name="country" id="country" class="country" onchange="country_code()">
                                    <option value="select country">select country</option>
                                    <option value="us">US</option>
                                    <option value="uk">UK</option>
                                    <option value="br">BRAZIL</option>
                                    <option value="ind">INDIA</option>
                                </select>
                                <input asp-for="User.Mobile" type="tel" class="form-control output" id="output" placeholder="Mobile Number" value="@Model.User.Mobile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plocation mt-5">
                    <h4>Patient Location</h4>
                    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Street" type="text" class="form-control" id="floatingInput" placeholder="Street" value="@Model.User.Street">
                                <label for="floatingInput">Street</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.City" type="text" class="form-control" id="floatingInput" placeholder="City" value="@Model.User.City">
                                <label for="floatingInput">City</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.State" type="text" class="form-control" id="floatingInput" placeholder="State" value="@Model.User.State">
                                <label for="floatingInput">State</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input asp-for="User.Zipcode" type="text" class="form-control" id="floatingInput" placeholder="Zip Code" value="@Model.User.Zipcode">
                                <label for="floatingInput">Zip Code</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="updoc mt-5">
                    <h4>(Optional) Upload Photo Or Document</h4>
                    <div class="fileselect mt-3">
                        <input type="file" class="file mt-3" id="actual-btn" hidden />
                        <label for="actual-btn" class="filelable"><i class="fa-solid fa-upload me-2"></i>Upload</label>
                        <span id="file-chosen">Select File</span>
                    </div>
                </div>
                <div class="submit mt-4">
                    <button type="submit" class="btn btn-info" style="color: white;">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //data table initiate
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,

        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // jQuery script to handle leader checkbox click event
    $(document).ready(function () {
        $('#chkbox').click(function () {
            $('.childChkbox').prop('checked', $(this).prop('checked'));
        });

        // Handle individual checkbox clicks to update the leader checkbox state
        $('.childChkbox').click(function () {
            $('#chkbox').prop('checked', $('.childChkbox:checked').length === $('.childChkbox').length);
        });
    });
</script>