@{
    ViewData["Title"] = "View Document";
    Layout = "";
}
@model Services.ViewModels.AdminviewDoc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<Partial name="_Notification" />
<script src="~/js/site.js"></script>
<div class="container-fluid mt-5 dashboard" style="width: 90%;">
    <div class="d-flex justify-content-between">
        <h4>Close Case</h4>
        <div class="backbtn">
            <a asp-controller="Admin" asp-action="AdminDashboard">
                <button type="button" class="btn btn-outline-info text-center"><img style="margin-bottom : 2px" src="~/images/image_2024_01_17T04_17_17_757Z.png" height="12px" width="10px">Back</button>
            </a>
        </div>
    </div>
    <div class="documenthead mt-4 bg-white p-3 rounded">
        <div class="d-flex justify-content-between">
            <div>
                <span class="text-body-secondary">Patient Name</span>
                <h5><span class="text-info me-2">@Model.Username</span>(@Model.ConfirmationNum)</h5>
            </div>
            <button type="button" class="btn btn-outline-info" style="margin-bottom:10px">Create Invoice Through Quickbooks</button>
        </div>
        <h5>Documents</h5>
        <form method="post" asp-controller="Dashboard" asp-action="DownloadFile">
            <div class="table-responsive">
                <table class="table mt-2" id="dtBasicExample">
                    <thead>
                        <tr>
                            <th class="bg-body-secondary" scope="col">Documents</th>
                            <th class="bg-body-secondary" scope="col">Upload Date</th>
                            <th class="bg-body-secondary" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.reqfile)
                        {
                            <tr>
                                <td>
                                    @{
                                        var file = obj.Filename.Split("document\\");
                                    }
                                    @if (file.Length > 1)
                                    {
                                        @file[1]

                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td>
                                    @obj.Createddate
                                </td>
                                <td>
                                    <div class="btn btn-outline-info">
                                        <a asp-controller="Dashboard" asp-action="SingleDownload" asp-route-id="@obj.Requestwisefileid">
                                            <i class="bi bi-cloud-arrow-up"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>

    </div>
</div>




