@using Data.DataModels;
@model Services.ViewModels.NewStateData
<ul class="nav nav-tabs d-flex justify-content-around" id="ViewcaseRemove" role="tablist">
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link active state New" id="New-tab" data-bs-toggle="tab" data-bs-target="#New-tab-pane"
                type="button" role="tab" aria-controls="New-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-person-plus me-3 icon"></i>NEW</div>
            <h5>@Model.newcount</h5>
        </button>
    </li>
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link state Pending" id="Pending-tab" data-bs-toggle="tab" data-bs-target="#Pending-tab-pane"
                type="button" role="tab" aria-controls="Pending-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-person me-3 icon"></i>PENDING</div>
            <h5>@Model.pendingcount</h5>
        </button>
    </li>
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link state Active" id="Active-tab" data-bs-toggle="tab" data-bs-target="#Active-tab-pane"
                type="button" role="tab" aria-controls="Active-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-check2-circle me-3 icon"></i>ACTIVE</div>
            <h5>@Model.activecount</h5>
        </button>
    </li>
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link state Conclude" id="Conclude-tab" data-bs-toggle="tab" data-bs-target="#Conclude-tab-pane"
                type="button" role="tab" aria-controls="Conclude-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-clock-history me-3 icon"></i>CONCLUDE</div>
            <h5>@Model.concludecount</h5>
        </button>
    </li>
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link state Toclose" id="ToClose-tab" data-bs-toggle="tab" data-bs-target="#ToClose-tab-pane"
                type="button" role="tab" aria-controls="ToClose-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-person-x me-3 icon"></i>TO CLOSE</div>
            <h5>@Model.Toclosecount</h5>
        </button>
    </li>
    <li class="nav-item card bg-body-secondary" role="presentation">
        <button class="nav-link state Unpaid" id="Unpaid-tab" data-bs-toggle="tab" data-bs-target="#Unpaid-tab-pane"
                type="button" role="tab" aria-controls="Unpaid-tab-pane" aria-selected="false">
            <div class="h5"><i class="bi bi-currency-dollar me-3 icon"></i>UNPAID</div>
            <h5>@Model.Unpaidcount</h5>
        </button>
    </li>
</ul>
<div class="container-fluid mt-4" id="alldata">
    <div class="d-flex flex-wrap justify-content-between">
        <h4 class="mt-2">Patients (New)</h4>
        <div class="allbtn d-flex">
            <button class="btn btn-info text-white ms-1 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#SendLinkModal">
                <i class="bi bi-send me-1"></i>
                <span class="d-none d-md-block">
                    Send Link
                </span>
            </button>
            <button class="btn btn-info text-white ms-1 d-flex align-items-center">
                <i class="bi bi-journal-text me-1"></i>
                <span class="d-none d-md-block">
                    Create Request
                </span>
            </button>
            <form asp-controller="Admin" asp-action="Export">
                <input id="exportreqtype" asp-for="@Model.reqtype" type="hidden" />
                <input id="exportregion" asp-for="@Model.region" type="hidden" />
                <input id="exportstatus" asp-for="@Model.status" value="1" type="hidden" />
                <input id="exportseach" asp-for="@Model.searchkey" type="hidden" />
                <input id="exportpage" asp-for="@Model.currentpage" value="1" type="hidden" />
                <button type="submit" class="btn btn-info text-white ms-1 d-flex align-items-center">
                    <i class="fa-solid fa-file-export me-1"></i>
                    <span class="d-none d-md-block">
                        Export
                    </span>
                </button>
            </form>
            <form asp-controller="Admin" asp-action="ExportAll">
                <input id="exportstatusall" asp-for="@Model.status" value="1" type="hidden" />
                <button class="btn btn-info text-white ms-1 d-flex align-items-center">
                    <i class="fa-solid fa-file-zipper me-1"></i>
                    <span class="d-none d-md-block">
                        Export All
                    </span>
                </button>
            </form>
            <button class="btn btn-info text-white ms-1 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#ReqSupportModal">
                <i class="fa-solid fa-headset me-1"></i>
                <span class="d-none d-md-block">
                    Request DIY Support
                </span>
            </button>
        </div>
    </div>
    <div class="tablehead mt-4 d-flex flex-wrap justify-content-between bg-white">
        <div class="d-flex flex-wrap align-items-center">
            <div class="searchbar ms-2">
                <input id="myInput" style="padding-left : 30px;position: relative;top: 13px;" class="form-control me-2" type="search" placeholder=" Search Patients" aria-label="Search">
                <i class="bi bi-search searchicon1"></i>
            </div>
            <div class="ms-2">
                <datalist id="suggestions">
                    <option id="uk">United Kingdom</option>
                    <option id="uae">Dubai</option>
                    <option id="ny">New York</option>
                </datalist>
                <input class="region" autoComplete="on" list="suggestions" placeholder="All Region" />
                <i class="bi bi-search searchicon2"></i>
                <i class="fa-solid fa-chevron-down down"></i>
            </div>
        </div>
        <div class="d-flex flex-wrap mt-3">
            <div type="radio" class="ms-3 mb-3 me-3 requestby d-none d-md-inline-block" id="requestbyAll" style="cursor : pointer">
                All
            </div>
            <div class="d-flex flex-wrap">
                <div class="ms-3 me-3 requestby" id="1" style="cursor : pointer"><span class="dot" style="Background-color : green;"></span> Patient</div>
                <div class="ms-3 me-3 requestby" id="2" style="cursor : pointer"><span class="dot" style="Background-color : darkorange;"></span> Family/Friend</div>
                <div class="ms-3 me-3 requestby" id="3" style="cursor : pointer"><span class="dot" style="Background-color : hotpink;"></span> Business</div>
                <div class="ms-3 me-3 requestby" id="4" style="cursor : pointer"><span class="dot" style="Background-color : dodgerblue;"></span> Concierge</div>
                <div class="ms-3 me-3 requestby" id="5" style="cursor : pointer"><span class="dot" style="Background-color : mediumpurple;"></span> Vip</div>
            </div>
        </div>
    </div>
    <div class="tab-content mt-4" id="status-tabContent">
    </div>
</div>

@*Request Support*@
<div class="modal fade" id="ReqSupportModal" tabindex="-1" aria-labelledby="ReqSupportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="ReqSupportModal">Request Support</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To all unscheduled Physicians: We are short on coverage and needs additional support On call to respond to Requests.
                <div class="form-floating mt-4">
                    <textarea class="form-control Cancelnotes" placeholder="Leave a comment here" id="floatingTextarea" style="height:140px"></textarea>
                    <label for="floatingTextarea">Message</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Send</button>
                <button type="button" class="btn btn-outline-info ms-1" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*Send Link*@
<div class="modal fade" id="SendLinkModal" tabindex="-1" aria-labelledby="SendLinkModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="SendLinkModal">Send mail to patient for submitting request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="FirstName">
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name">
                    <label for="floatingInput">Last Name</label>
                </div>
                <div class="mb-3 numcountry">
                    <select name="country" id="country2" class="country" onchange="country_code2()">
                        <option value="select country">select country</option>
                        <option value="us">US</option>
                        <option value="uk">UK</option>
                        <option value="br">BRAZIL</option>
                        <option value="ind">INDIA</option>
                    </select>
                    <input type="tel" class="form-control output" id="output2" placeholder="Mobile Number">
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Send</button>
                <button type="button" class="btn btn-outline-info ms-1" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var search;
        var url = '/Admin/NewState';
        $('#myInput').keyup(function () {
            search = $('#myInput').val();
            searchajax();
        });
        var status = '1';
        $('#exportstatus').val(status);

        var pagereqtype;
        var globalregion = 0;
        var currentpage = 1;
        $.ajax({
            url: '/Admin/NewState',
            success: function (response) {
                $('#status-tabContent').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        $('.state').on('click', function (e) {
            e.preventDefault();
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var target = $(this).data('bs-target');
            switch (target) {
                case '#New-tab-pane':
                    url = '/Admin/NewState';
                    status = '1';
                    break;
                case '#Pending-tab-pane':
                    url = '/Admin/PendingState';
                    status = '2';
                    break;
                case '#Active-tab-pane':
                    url = '/Admin/ActiveState';
                    status = '4';
                    break;
                case '#Conclude-tab-pane':
                    url = '/Admin/ConcludeState';
                    status = '6';
                    break;
                case '#ToClose-tab-pane':
                    url = '/Admin/ToCloseState';
                    status = '3';
                    break;
                case '#Unpaid-tab-pane':
                    url = '/Admin/UnpaidState';
                    status = '9';
                    break;
                default:
                    status = '1';
                    url = 'Admin/AdminDashboard';
            }
            $.ajax({
                url: url,
                data: { "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    //console.log($('#exportstatus'));
                    $('#exportstatus').val(status);
                    $('#exportstatusall').val(status);
                    globalregion = 0;
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                    $('.requestby').each(function () {
                        $(this).removeClass('border border-secondary-subtle');
                        $(this).css('height', '33px');
                        $(this).addClass('px-1');
                    });
                    $('.region').val("");
                    $('#exportreqtype').val("");
                    $('#exportregion').val("Select Region");
                    $('#exportpage').val(currentpage);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.requestby').on('click', function (e) {
            e.preventDefault();
            //$('.dashboardtab').removeClass('active');
            //$(this).addClass('active');
            var target = $(this).attr('id');
            var requesttype;
            $('.requestby').each(function () {
                $(this).removeClass('border border-secondary-subtle');
                $(this).css('height', '33px');
                $(this).addClass('px-1');
            });
            $(this).addClass('border border-secondary-subtle');
            //console.log(target);
            switch (target) {
                case '1':
                    curstatus = status;
                    requesttype = '1';
                    break;
                case '2':
                    curstatus = status;
                    requesttype = '2';
                    break;
                case '3':
                    curstatus = status;
                    requesttype = '4';
                    break;
                case '4':
                    curstatus = status;
                    requesttype = '3';
                    break;
                default:
                    curstatus = status;
            }
            pagereqtype = requesttype;
            //console.log("hii" + curstatus);
            switch (curstatus) {
                case '1':
                    url = '/Admin/NewState';
                    break;
                case '2':
                    url = '/Admin/PendingState';
                    break;
                case '4':
                    url = '/Admin/ActiveState';
                    break;
                case '6':
                    url = '/Admin/ConcludeState';
                    break;
                case '3':
                    url = '/Admin/ToCloseState';
                    break;
                case '9':
                    url = '/Admin/UnpaidState';
                    break;
                default:
                    url = '/Admin/NewState';
            }
            $.ajax({
                url: url,
                data: { "status": curstatus, "reqtypeid": requesttype, "regionid": globalregion, "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportreqtype').val(requesttype);
                    $('#exportseach').val(search);
                    $('#exportpage').val(currentpage);
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.region').on('change', function (e) {
            var target = $('.region').val();
            var curstatus;
            $('.region').value = target;
            $('.region').removeAttr('placeholder');
            $(".region").attr("value", target);
            //console.log("hello");
            //console.log($(".region").attr("value"));
            switch (target) {
                case 'United Kingdom':
                    curstatus = status;
                    regionid = '3';
                    break;
                case 'Dubai':
                    curstatus = status;
                    regionid = '2';
                    break;
                case 'New York':
                    curstatus = status;
                    regionid = '1';
                    break;
                default:
                    curstatus = status;
                    regionid = '0';
            }
            //console.log("hii" + curstatus);
            globalregion = regionid;
            switch (curstatus) {
                case '1':
                    url = '/Admin/NewState';
                    break;
                case '2':
                    url = '/Admin/PendingState';
                    break;
                case '4':
                    url = '/Admin/ActiveState';
                    break;
                case '6':
                    url = '/Admin/ConcludeState';
                    break;
                case '3':
                    url = '/Admin/ToCloseState';
                    break;
                case '9':
                    url = '/Admin/UnpaidState';
                    break;
                default:
                    url = '/Admin/NewState';
            }
            $.ajax({
                url: url,
                data: { "status": status, "regionid": regionid, "reqtypeid": pagereqtype, "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportregion').val(regionid);
                    $('#exportseach').val(search);
                    $('#exportpage').val(currentpage);
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        function searchajax() {
            $.ajax({
                url: url,
                data: { "status": status, "regionid": globalregion, "reqtypeid": pagereqtype, "currentPage": currentpage, "searchkey": search },
                success: function (response) {
                    $('#status-tabContent').html(response);
                    $('#exportregion').val(globalregion);
                    $('#exportseach').val(search);
                    $('#exportpage').val(currentpage);
                    var page = document.getElementById("page-1");
                    if (page != null) {
                        page.style.backgroundColor = "lightblue";
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });
</script>