@model Services.ViewModels.SearchRecordModal


<table class="table d-none d-md-table" id="maintable">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Requestor</th>
            <th scope="col">Date Of Service</th>
            <th scope="col">Close Case Date</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col">Request Status</th>
            <th scope="col">Physician</th>
            <th scope="col">Physician Note</th>
            <th scope="col">Cancelled By Provider Note</th>
            <th scope="col">Admin Note</th>
            <th scope="col">Patient Note</th>
            <th scope="col">Delete Permanently</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.req!)
        {
            var reqclient = obj.Requestclients.ElementAt(0);
            <tr>
                <td>@reqclient.Firstname @reqclient.Lastname</td>
                <td>@obj.Firstname @obj.Lastname</td>
                <td>
                    @if (@obj.Accepteddate != null)
                    {
                        @obj.Accepteddate.Value.ToString("MMM dd yyyy")
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (obj.Status == 3 || obj.Status == 7 || obj.Status == 8)
                    {
                        @obj.Requeststatuslogs.LastOrDefault(u=>u.Requestid == obj.Requestid)!.Createddate.ToString("MMM dd yyyy")
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>@reqclient.Email</td>
                <td>@reqclient.Phonenumber</td>
                <td>@reqclient.Address</td>
                <td>@reqclient.Zipcode</td>
                <td>
                    @if (obj.Status == 1)
                    {
                        <span>New</span>
                    }
                    else if (obj.Status == 2)
                    {
                        <span>Pending</span>
                    }
                    else if (obj.Status == 4 || obj.Status == 5)
                    {
                        <span>Active</span>
                    }
                    else if (obj.Status == 6)
                    {
                        <span>Conclude</span>
                    }
                    else if (obj.Status == 3 || obj.Status == 7 || obj.Status == 8)
                    {
                        <span>To-Close</span>
                    }
                    else if (obj.Status == 9)
                    {
                        <span>Unpaid</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (obj.Physician != null)
                    {
                        @obj.Physician.Firstname @obj.Physician.Lastname
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (obj.Requestnotes.Count() > 0)
                    {
                        @obj.Requestnotes.ElementAt(0).Physiciannotes
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (obj.Status == 3)
                    {
                        @obj.Requeststatuslogs.LastOrDefault(u=>u.Requestid == obj.Requestid)!.Notes
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (obj.Requestnotes.Count() > 0)
                    {
                        @obj.Requestnotes.ElementAt(0).Adminnotes
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>@reqclient.Notes</td>
                <td>
                    <a value="@obj.Requestid" class="btn btn-outline-info deletebtn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-md-none pb-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        @if (Model.req.Count() > 0)
        {
            @foreach (var obj in Model.req!)
            {
                var rc = obj.Requestclients.ElementAt(0);
                var type = obj.Requesttypeid;
                var typeStr = "";
                var dos = obj?.Accepteddate?.ToString("MMM dd yyyy");
                var closeCaseDate = obj?.Requeststatuslogs.FirstOrDefault(x => x.Status == 8 || x.Status == 3 || x.Status == 7)?.Createddate.ToString("MMM dd yyyy");
                var requestNote = obj?.Requestnotes.FirstOrDefault(x => x.Requestid == rc.Requestid);
                switch (type)
                {
                    case 1:
                        typeStr = "Business";
                        break;
                    case 2:
                        typeStr = "Patient";
                        break;
                    case 3:
                        typeStr = "Family";
                        break;
                    case 4:
                        typeStr = "Concierge";
                        break;
                }
                var status = "";
                @if (rc.Request.Status == 1)
                {
                    status = "New";
                }
                else if (rc.Request.Status == 2)
                {
                    status = "Pending";
                }
                else if (rc.Request.Status == 4 || rc.Request.Status == 5)
                {
                    status = "Active";
                }
                else if (rc.Request.Status == 6)
                {
                    status = "Conclude";
                }
                else if (rc.Request.Status == 3 || rc.Request.Status == 7 || rc.Request.Status == 8)
                {
                    status = "To-Close";
                }
                else if (rc.Request.Status == 9)
                {
                    status = "Unpaid";
                }
                else
                {
                    status = "-";
                }
                <div class="accordion-item">
                    <div class="accordion-header">
                        <div class="accordion-button collapsed d-flex flex-column align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_@obj?.Requestid" aria-expanded="false" aria-controls="flush-collapseOne">
                            <p>@rc.Firstname @rc.Lastname</p>
                            <p class="text-secondary">@rc.Location, @rc.Address</p>
                        </div>
                    </div>
                    <div id="flush-collapse_@obj?.Requestid" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-0">
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-user fa-sm icn"></i>
                                <span class="text-secondary ms-2">Requestor:</span>
                                <span class="fw-medium ms-2">@(obj?.Firstname ?? "-") @(obj?.Lastname ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-calendar-days icn"></i>
                                <span class="text-secondary ms-2">Date Of Service:</span>
                                <span class="fw-medium ms-2">@(dos ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-calendar-days icn"></i>
                                <span class="text-secondary ms-2">Case Closed Date:</span>
                                <span class="fw-medium ms-2">@(closeCaseDate ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-envelope fa-sm icn"></i>
                                <span class="text-secondary ms-2">Email:</span>
                                <span class="fw-medium ms-2">@(rc.Email ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-phone fa-sm icn"></i>
                                <span class="text-secondary ms-2">Phone number:</span>
                                <span class="fw-medium ms-2">@(rc.Phonenumber ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-address-book fa-sm icn"></i>
                                <span class="text-secondary ms-2">Address:</span>
                                <span class="fw-medium ms-2">@(rc.Address ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-location-dot fa-sm icn"></i>
                                <span class="text-secondary ms-2">Zip Code:</span>
                                <span class="fw-medium ms-2">@(rc.Zipcode ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-check fa-sm icn"></i>
                                <span class="text-secondary ms-2">Request Status:</span>
                                <span class="fw-medium ms-2">@status</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-user-doctor fa-sm icn"></i>
                                <span class="text-secondary ms-2">Provider:</span>
                                <span class="fw-medium ms-2">@(obj?.Physician?.Firstname ?? "-") @(obj?.Physician?.Lastname ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-notes-medical fa-sm icn"></i>
                                <span class="text-secondary ms-2">Provider Note:</span>
                                <span class="fw-medium ms-2">@(requestNote?.Physiciannotes ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-notes-medical fa-sm icn"></i>
                                <span class="text-secondary ms-2">Cancelled By Provider Note:</span>
                                <span class="fw-medium ms-2">@(obj?.Requeststatuslogs?.FirstOrDefault(x => x.Status == 3)?.Notes ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-note-sticky fa-sm icn"></i>
                                <span class="text-secondary ms-2">Admin Note:</span>
                                <span class="fw-medium ms-2">@(requestNote?.Adminnotes ?? "-")</span>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <i class="fa-solid fa-note-sticky fa-sm icn"></i>
                                <span class="text-secondary ms-2">Patient Note:</span>
                                <span class="fw-medium ms-2">@(rc.Notes ?? "-")</span>
                            </div>
                            <div class="d-flex justify-content-end align-items-center p-3">
                                <a value="@obj!.Requestid" class="btn btn-outline-info deletebtn">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="d-flex justify-content-end d-none me-3 changebtns">
        <button class="btn btn-info text-white" type="submit" id="savebtn" asp-action="SaveNotificationStatus" asp-controller="Admin">
            Save
        </button>
        <button type="reset" class="btn btn-outline-info ms-2 cancelbtn">
            Cancel
        </button>
    </div>
</div>

<div class="d-flex justify-content-center gap-3 mt-3">
    <input type="hidden" id="forcurpage" value="@Model.currentpage" />
    @if (Model.totalpages > 0)
    {
        var previous = Model.currentpage - 1;
        var next = Model.currentpage + 1;
        if (previous <= 0)
        {
            previous = 1;
        }
        if (next > Model.totalpages)
        {
            next = Model.totalpages;
        }
        <button type="button" class="@previous pagebtn" onclick="ChangeSearchRecord(@previous)" style="width:75px">
            Previous
        </button>
        @if (Model.totalpages > 5)
        {
            @if (Model.currentpage > Model.totalpages - 3)
            {
                <button type="button" class="1 pagebtn" id="page-1" onclick="ChangeSearchRecord(1)" style="width:45px">
                    1
                </button>
                <button type="button" class="0 pagebtn" id="page-0" style="width:25px">
                    ...
                </button>
                @for (var i = Model.totalpages - 3; i <= Model.totalpages; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeSearchRecord(@i)" style="width:45px">
                        @i
                    </button>
                }
            }
            else if (Model.currentpage < Model.totalpages - 2 && Model.currentpage > 3)
            {
                <button type="button" class="1" pagebtn id="page-1" onclick="ChangeSearchRecord(1)" style="width:45px">
                    1
                </button>
                <button type="button" class="0 pagebtn" id="page-0" style="width:25px">
                    ...
                </button>
                @for (var i = Model.currentpage - 1; i <= Model.currentpage + 1; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeSearchRecord(@i)" style="width:45px">
                        @i
                    </button>
                }
                <button type="button" class="0" id="page-0" style="width:45px">
                    ...
                </button>
                <button type="button" class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangeSearchRecord(@previous)" style="width:45px">
                    @Model.totalpages
                </button>
            }
            else
            {
                @for (var i = 1; i <= 4; i++)
                {
                    <button type="button" class="@i pagebtn" id="page-@i" onclick="ChangeSearchRecord(@i)" style="width:45px">
                        @i
                    </button>
                }
                <button type="button" class="0" id="page-0" style="width:45px">
                    ...
                </button>
                <button type="button" class="@Model.totalpages pagebtn" id="page-@Model.totalpages" onclick="ChangeSearchRecord(@Model.totalpages)" style="width:25px">
                    @Model.totalpages
                </button>
            }
        }
        else
        {
            @for (int page = 0; page < Model.totalpages; page++)
            {
                var temp = page + 1;

                <button type="button" class="@temp pagebtn" id="page-@temp" onclick="ChangeSearchRecord(@temp)" style="width:45px">
                    @temp
                </button>
            }
        }
        @if (next == 1 && Model.totalpages > 1)
        {
            next = 2;
        }
        <button type="button" class="@next pagebtn" onclick="ChangeSearchRecord(@next)" style="width:75px">
            Next
        </button>
    }
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
    var num = document.getElementById("curpageinput");
    if (@Model.currentpage == 1) {
        document.getElementById("page-1").style.backgroundColor = "lightblue";
    }
    var page = document.getElementById("page-" + num.value);
    if (page != null) {
        page.style.backgroundColor = "lightblue";
    }
    $('.deletebtn').on('click', function (e) {
        var id = $(this).attr("value");
        swal.fire({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/Admin/DeleteSearchRecord',
                    data: { "id": id },
                    success: function (response) {
                        var link = document.createElement('a');
                        link.href = "/Admin/SearchRecords";
                        link.click();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            } else {
                console.log('Cancelled!');
            }
        });
    });
    var chk = $('#maintable');
    console.log(chk);
    if (@Model.req.Count()> 0) {
        $('#maintable').DataTable({
            info: false,
            ordering: true,
            paging: false,
            searching: false,
        });
    }
</script>