@using Common.Helper;
@model Services.ViewModels.UserAccessModal

<table class="table">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Account type</th>
            <th scope="col">Account POC</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Open Requests</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.aspnetusers!)
        {
            var rolechk = Model.aspnetuserroles!.FirstOrDefault(u => u.Userid == obj.Id.ToString());
            var role = "0";
            if (rolechk != null)
            {
                role = rolechk.Roleid;
            }
            <tr>
                <td>
                    @if (role == "1")
                    {
                        <span>Admin</span>
                    }
                    else if (role == "2")
                    {
                        <span>Physician</span>
                    }
                    else
                    {
                        <span>User</span>
                    }
                </td>
                <td>@obj.Username</td>
                <td>@obj.Phonenumber</td>
                <td>Status</td>
                <td>
                    @if (role == "1")
                    {
                        <span>@Model.admincount</span>
                    }
                    else if (role == "2")
                    {
                        var phy = Model.req!.Where(u => u.Physician != null && (u.Physician!.Aspnetuserid == obj.Id.ToString()));
                        <span>@phy.Count()</span>
                    }
                    else
                    {
                        var reqcount = Model.req!.Where(u => u.User != null && u.User!.Aspnetuserid == obj.Id);
                        @if (reqcount != null)
                        {
                            <span>@reqcount.Count()</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    }
                </td>
                <td>
                    @if (role == "3")
                    {
                        <button class="btn btn-outline-info edituser" id="@obj.Users.First().Userid">Edit</button>
                    }
                    else if(role == "1")
                    {
                        <a asp-action="EditAdmin" asp-controller="Admin" asp-route-id="@EncryptDecryptHelper.Encrypt(obj.Id.ToString())" class="btn btn-outline-info editadmin">Edit</a>
                    }
                    else
                    {
                        <button class="btn btn-outline-info editphysician" id="">Edit</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.edituser').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('id');
                $.ajax({
                    url: '/Admin/editUser',
                    data: {"id": id },
                    success: function (response) {
                    $('.useracces').html(response);
                        console.log("Fetch success");
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
        });
    });
</script>